<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row text-center m-3">
                <h5>¿Seguro que quieres dejar la pantalla?</h5>
          </div>
          <div class="row m-4">
              <div class="col d-flex justify-content-center">
                  <button type="button" class="btn me-5" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn ms-5" data-bs-dismiss="modal">Si</button>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>