/* You can add global styles to this file, and also import other style files */
.autocomplete-container .input-container input {
    height: 70px !important;
    width: 100% !important;
    border: none !important;
    font-size: 25px !important;
    color: grey !important;
    padding-left: 25px !important;
}

.ng-autocomplete {
    width: 100% !important;
}

body {
    background: #fafafa;
}